[Unit]
Description=Photo Displaying Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/local/go/bin/go slideshower.go -path=/media/pi/C547-F465/Photos

[Install]
WantedBy=multi-user.target